@font-face {
    font-family: 'Vladimir'; /* Name your font family */
    src: url('assets/css/Fonts/VLADIMIR.TTF'); /* Locate the .ttf file within your directory*/
  }
  
  @font-face {
    font-family: 'CrimsonPro'; /* Name your font family */
    src: url('assets/css/Fonts/Crimson_Pro/static/CrimsonPro-Regular.ttf'); /* Locate the .ttf file within your directory*/
  }


body {
    font-family: CrimsonPro;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar image {
    margin: 0;
    padding: 0;
    float: left;
   { <img src="images/BD logo - veg.jpg" alt="Lights" class="w3-image">;
  </a>}
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

.navbar ul li {
    float: right;
}

.navbar ul li a {
    display: block;
    font-family: Vladimir;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #111;
}

.main-content {
    padding: 20px;
}

.floating-banner {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    background-color: purple;
    color: white;
    padding: 14px 10px;
    border-radius: 5px;
}

.floating-banner a {
    color: white;
    text-decoration: none;
}

.floating-banner a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .navbar ul li {
        float: none;
    }
}
